.div_header{
    background-color:rgb(229, 227, 227);
}

.p_center{
    text-align: center;
}

.h_gold{
    color:goldenrod
}

.h_italic{
    font-style: italic;
    font-weight: bold;
}

.goldbar{
    border: 2px solid goldenrod;
}


